@charset "UTI-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Passion+One&display=swap');

@font-face {
    font-family: 'Frutiger Bold';
    src: url('../_fontes/FTB.ttf') format('truetype');
    font-weight: bold;

    font-family: 'Frutiger Light Condensed';
    src: url('../_fontes/FTLC.ttf') format('truetype');
    font-weight: lighter;

    font-family: 'Frutuger Ultra Black';
    src: url('../_fontes/FTUBL.ttf') format('truetype');
    font-weight: bolder;
}

:root {
    --cor1:var(cor1) #00a8e4;
    --cor2:var(cor2) #2172c3;
    --cor3:var(cor3) #3155a4;
    --cor4:var(cor4) #ffaf3e;

    --fonte1:var(fonte1) 'Frutiger Light Condensed', cursive;
    --fonte2:var(fonte2) 'Frutiger Bold', cursive;
    --fonte3:var(fonte3) 'Frutuger Ultra Black'. cursive;
    --fonte4:var(fonte4) 'Open Sans', sans-serif;
    --fonte5:var(fonte5) 'Passion One', cursive;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    background-color: var(cor4);
}

main {
    font-family: 'Open Sans', sans-serif;;
    width: 400px;
    margin: auto;     
}

header figure {
    background-color: white;
    border: 1px solid #00a8e4;
}

header img#logo {
    width: 35%;
    padding: 10px; 
}

header div#cabecario {
    background-color: #00a8e4;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(cor3);
}

header h1 {
    font-size: 1.5em;
    text-align: center;
}

header h2 {
    font-size: .8em;
    text-align: center;
}

section {
    background-color: #00a8e4;
    padding-top: 20px;
}

center img {
    width: 35%;
}

div#d4510 {
    padding: 10px;
}

div#ri {
    padding: 10px;
}

section h1 {
    font-size: 1em;
    text-align: center;    
}

section h2 {
    font-size: .8em;
    text-align: center;
}

section h3 {
    font-size: .8em;
    text-align: center;
}

section > p {
    font-size: .7em;
    text-align: center;    
}

section ul {

}

section ul > li {
    color: white;
}

section a {
    background-color: #ffaf3e;
    color: #3155a4;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.219);
}

div#clique {
    padding: 20px;
    margin: auto;
    text-align: center;
    }

section a:hover {
    text-decoration: underline;
    font-weight: bold;
}

footer {
    background-color: #2172c3;
    font-family: var(--fonte4);
    color: white;
    text-align: center;
    padding: 10px;
}

footer h1 {
    font-size: 1em;
}

footer > p {
    font-size: .8em;
}